{% extends 'blog/base.html' %}
{% load blog %}

{% block page %}
  <!-- 前へ -->
  {% if page_obj.has_previous %}
    <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">前へ</a>
  {% endif %}
  <!-- ページ表記 -->
  {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
  <span>{{ num }}</span>
  {% else %}
  <a href="?{% url_replace request 'page' num %}">{{ num }}</a>
  {% endif %}
  {% endfor %}
  <!-- 次へ -->
  {% if page_obj.has_next %}
    <a href="?{% url_replace request 'page' page_obj.next_page_number %}">次へ</a>
  {% endif %}
{% endblock %}